<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Profile</title>
</head>
<!--<style>
.button {
    border: none;
    margin: auto;
    position: absolute;
    top: 24%;
    left: 44%;
    color: white;
    padding: 10px 20px;
    text-align: center;
    font-family: believer;
    font-size: 150%;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.buttonClickMe {
    background-color: pink;
    color: #9B664B;
    border: none;
}
.buttonClickMe:hover {
    background-color: pink;
    color: white;
}

</style>-->
<body>
  <img src= "https://scontent.fcgk11-1.fna.fbcdn.net/v/t1.0-9/41237131_2462275957132275_611344240458334208_n.jpg?_nc_cat=0&oh=b8a20d994d0920f63c2d8cbc27e7de2d&oe=5C28A601"
       alt= "nisrinouspicprofile"
       width= "405" height= "405"
       style= "
       position: absolute;
       top: 37%;
       left: 18%;"/>
  <body style= "background-color:pink;">
    <h1 style= "
              font-family: luna;
              font-size: 300%;
              color: black;
              line-height: 200px;">
              <center>Welcome to my profile!</center></h1>
    <!--<button class= "button buttonClickMe"><center>Click me!</center></a></button>-->
    <h2 style= "font-family: cookie;
                font-size: 400%;
                position: absolute;
                top: 35%;
                left: 50%;
                color: black;">
                Hello!</h2>
    <h2 style= "font-family: handlee;
                font-size: 130%;
                position: absolute;
                top: 50%;
                left: 50%;
                border-left: 40%;
                color: black;">
                My name is {{ name }} ({{ npm }}).</h2>
    <h2 style= "font-family: handlee;
                font-size: 130%;
                position: absolute;
                top: 55%;
                left: 50%;
                border-left: 40%;
                color: black;">
                I am a 19 years old student who live in Depok. As a</h2>
    <h2 style= "font-family: handlee;
                font-size: 130%;
                position: absolute;
                top: 60%;
                left: 50%;
                border-left: 40%;
                color: black;">
                computer science student at University of Indonesia,</h2>
    <h2 style= "font-family: handlee;
                font-size: 130%;
                position: absolute;
                top: 65%;
                left: 50%;
                border-left: 40%;
                color: black;">
                my hobbies are not only coding and reading, but I also</h2>
    <h2 style= "font-family: handlee;
                font-size: 130%;
                position: absolute;
                top: 70%;
                left: 50%;
                border-left: 40%;
                color: black;">
                do swimming, listening to music, and crafting. </h2>
    <h2 style= "font-family: handlee;
                font-size: 130%;
                position: absolute;
                top: 75%;
                left: 50%;
                border-left: 40%;
                color: black;">
                My motto: </h2>
    <h2 style= "font-family: handlee;
                font-size: 130%;
                position: absolute;
                top: 80%;
                left: 50%;
                border-left: 40%;
                color: black;">
                "When no one believes in me, </h2>
    <h2 style= "font-family: handlee;
                font-size: 130%;
                position: absolute;
                top: 85%;
                left: 50%;
                border-left: 40%;
                color: black;">
                I know I can always believe in myself"</h2>
</body>
</html>
